.searchbar {
    padding: 0.5rem;
    margin:15px 50% auto;
    border: 1px solid #000;
    border-radius: 8%;
    /*no focus on the field */
    outline: none;
    cursor: pointer;
}



/* Create different media queries */

@media only screen and (min-width: 340px){
    .searchbar{
        margin: 10px 20% auto;
    }
}

@media only screen and (min-width:768px){
    .searchbar{
        margin: 10px 30% auto;
    }
    

@media only screen and (min-width:1024px){
    .searchbar{
        margin: 10px 50% auto;
    }
}

@media only screen and (max-width:2560px){
    .searchbar{
        margin: 15px 50% auto;
    }
}
}


