
.list{
    margin: 2px 49% auto;
    width: 15%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius:0.5em ;
    border-bottom-right-radius: 0.5em;
    list-style: none; 
    background-color: rgb(142, 209, 240);
    font-size: 15px;
    overflow-y: auto;
    text-align: justify;
    position: absolute;
    z-index: 10;
}

ul>li{
    list-style: none;
    margin: 2px  auto;
    cursor: pointer;
    text-align: left;
    padding: 5px;
}

ul>li:hover{
    background-color: rgb(17, 17, 214);
    border-radius: 5%;
    color: #fff;
    width: auto;
    margin-right: 15%;
}

h1{
    font-size:40px;
    font-weight: 600;
    text-align: center;
}

.country-flag{
    width: 250px;
    height: 190px;
    border: 2px solid #000;
    border-radius: 10%;
    padding: 3px;
}

.flag{
    height: 180px;
    width: 240px;
    border-radius: 15%;
}

.item{
    margin:  10px;
    font-size: 18px;
    font-weight: 600;
}

.container{
    margin: 15px 10% auto;
    position: relative;
    
}

.info-container{
    margin:25px 10px auto;
    width: 100%;
}

.row-info{
    margin-top: 20px;
}


.map{
   
    width: 510px;
    height: 510px;
    border: 2px solid #000;
    border-radius: 10%;
    padding: 5px;
    z-index: 3;
    margin-left:20%;
   
}

.message{
    font-size: large;
    font-weight: 600;
    color: #f00;
    
}

/* Media queries */

/* DEVICE <= 320PX */
@media only screen and (max-width: 320px) {
    .list{
        margin: 2px 30% auto;
        width: 50%;
    }
    .map{
        width: 80%;
        height: 100%;
        margin-left:0%;
    }
    .container{
        margin: 15px 0% auto;
    }
    .info-container{
        margin:25px 0px auto;
        width: 100%;
    }
    .row-info{
        margin-top: 20px;
    }
    .country-flag{
        width: 100%;
        height: 100%;
    }
    .flag{
        height: 100%;
        width: 100%;
    }
}

/* DEVICE <= 480PX */
@media only screen and (max-width: 480px) {
    .list{
        margin: 2px 20% auto;
        width: 50%;
    }
    .map{
        width: 90%;
        height: 100%;
        margin-left:0%;
    }
    .container{
        margin: 15px 0% auto;
    }
    .info-container{
        margin:25px 0px auto;
        width: 100%;
    }
    .row-info{
        margin-top: 20px;
    }
    .country-flag{
        width: 100%;
        height: 100%;
    }
    .flag{
        height: 100%;
        width: 100%;
    }
}

/* DEVICE <= 768PX */
@media only screen and (max-width: 768px) {
    .list{
        margin: 2px 20% auto;
        width: 50%;
    }
    .map{
        width: 90%;
        height: 100%;
        margin-left:0%;
    }
    .container{
        margin: 15px 0% auto;
    }
    .info-container{
        margin:25px 0px auto;
        width: 100%;
    }
    .row-info{
        margin-top: 20px;
    }
    .country-flag{
        width: 100%;
        height: 100%;
    }
    .flag{
        height: 100%;
        width: 100%;
    }
}

/* DEVICE <= 1024PX */
@media only screen and (max-width: 1024px) {
    .list{
        margin: 2px 50% auto;
        width: 50%;
    }
    .map{
        width: 90%;
        height: 100%;
        margin-left:0%;
    }
    .container{
        margin: 15px 0% auto;
    }
    .info-container{
        margin:25px 0px auto;
        width: 100%;
    }
    .row-info{
        margin-top: 20px;
    }
    .country-flag{
        width: 100%;
        height: 100%;
    }
    .flag{
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width:2560px){
    .list{
        margin: 2px 29% auto;
        width: 15%;
    }
    .map{
        width: 90%;
        height: 100%;
        margin-left:0%;
    }
    .container{
        margin: 15px 0% auto;
    }
    .info-container{
        margin:25px 0px auto;
        width: 100%;
    }
    .row-info{
        margin-top: 20px;
    }
    .country-flag{
        width: 100%;
        height: 100%;
    }
    .flag{
        height: 100%;
        width: 100%;
    }
}
