
.list{
    margin: 2px 49% auto;
    width: 15%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius:0.5em ;
    border-bottom-right-radius: 0.5em;
    list-style: none; 
    background-color: rgb(142, 209, 240);
    font-size: 15px;
    overflow-y: auto;
    text-align: justify;
    position: absolute;
    z-index: 10;
}

ul>li{
    list-style: none;
    margin: 2px  auto;
    cursor: pointer;
    text-align: left;
    padding: 5px;
}

ul>li:hover{
    background-color: rgb(17, 17, 214);
    border-radius: 5%;
    color: #fff;
    width: auto;
    margin-right: 15%;
}

h1{
    font-size:40px;
    font-weight: 600;
    text-align: center;
}

.country-flag{
    width: 250px;
    height: 190px;
    border: 2px solid #000;
    border-radius: 10%;
    padding: 3px;
}

.flag{
    height: 180px;
    width: 240px;
    border-radius: 15%;
}

.item{
    margin:  10px;
    font-size: 18px;
    font-weight: 600;
}

.container{
    margin: 15px 10% auto;
    position: relative;
    
}

.info-container{
    margin:25px 10px auto;
    width: 100%;
}

.row-info{
    margin-top: 20px;
}


.map{
   
    width: 510px;
    height: 510px;
    border: 2px solid #000;
    border-radius: 10%;
    padding: 5px;
    z-index: 3;
    margin-left:20%;
   
}

.message{
    font-size: large;
    font-weight: 600;
    color: #f00;
    
}