.map-leaflet{
    
    
    border-radius: 10%;
   padding: 5px;
   z-index: 3;
}

/* Media queries */

@media only screen and (max-width:480px) {
    .map-leaflet{
        width:60vw;
        height:40vh;
    }
}

@media only screen and (min-width:481) and (max-width:1023px) {
    .map-leaflet{
        width:65vw;
        height: 35vh;
    }
}

@media only screen and (min-width:1024px) {
    .map-leaflet{
        width:21vw;
        height: 41vh;
        
    }
}